git lfs untrack "*.wav"
git add .gitattributes
git commit -m "Désactivation du suivi LFS global des .wav"
public/audio/00157cb1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00186ae5_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/001c940d_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00233f20_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0025a945_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0026218f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/003a763a_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/003e1126_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/003e717f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00468879_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00574fb7_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/005deed1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/007be06e_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0083263f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00839e9b_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0093d2cc_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0096a57a_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00a8a6de_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00ac9a07_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00bc5feb_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00bf3f0f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00c0d99c_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00c70efe_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00ca8d1b_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00de7da5_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00dfdcca_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00e51696_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00fe96ff_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01048fc3_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/010d1cdc_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/013a03bd_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/013f4980_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/014f0587_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0155f891_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/015a38ce_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/015b99b7_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/016ad903_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/016c3f6c_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/017759bb_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0185a60f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01917d75_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01986d22_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/019ec251_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01a31f14_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01ab69f1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01b2533e_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01c7ddc3_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01ce4a50_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01e43c81_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01e4763f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01e7d7d8_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01f43fda_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01f53dd4_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01f91a5d_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02009704_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0216f5c1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/021711a3_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/022564b5_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/022f5247_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/024efcd4_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02664f18_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0266dd79_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/026fb465_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/027bd191_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02843a67_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0287e21b_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0294962a_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/029d04be_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02a7e6d4_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02b61e61_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02bdf32f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02c162c1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02c5ed81_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02c6c1cc_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02ca6d84_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00128d64_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00225adf_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/003653cb_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0043071e_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0072bdee_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00906494_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00aa9cee_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00c05df1_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00cf459e_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/00fc54c5_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0112a6ea_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0155e602_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01613927_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01850e63_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/019cb405_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01af8703_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01cfe5ce_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01efe636_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/01fb59d8_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0224e76d_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02515503_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/0270e96f_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02886c83_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02ad666e_vocals.wav filter=lfs diff=lfs merge=lfs -text
public/audio/02c3989e_vocals.wav filter=lfs diff=lfs merge=lfs -text
