# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
Mp3
.gitignore
pretrained_models/2stems/._checkpoint
pretrained_models/2stems/.probe
pretrained_models/2stems/checkpoint
pretrained_models/2stems/model.data-00000-of-00001
pretrained_models/2stems/model.index
pretrained_models/2stems/model.meta

# Ignorer le dossier .venv
.venv/

.gitignore

